.slides-navigation > * {
    height: 47px;
    width: 47px;
    background-size: cover;
    background-repeat: no-repeat;
}

.slides-navigation a.prev{
    left: 20px;
    background-image: url('../img/icons/previous.png');
}

.slides-navigation a.next{
    right: 20px;
    background-image: url('../img/icons/next.png');
}